.header{
    position: fixed;
    width: 100%;
    height: 66px;
    background: black;
    border-bottom:  1px solid grey;
}
body{
    margin: 0;
}

.logo{
    padding-top: 18px;
    padding-left: 0px;
    float: left;
}
.searchbar{
    float: left;
    padding-left: 181px;
    padding-top: 12px;
    
    
    
}
.search-input{
    
    font-size: 16px;
    font-weight: bold ;
    width: 440px;
    height: 36px;
    border-radius: 8px;
    
    padding-left: 40px;
    background-color: rgba(70, 68, 68, 0.411);
}
.search-input::placeholder{
    color: #fff;
    opacity: 100%
}
.castbutton {
    padding-top: 9px;
    padding-left: 0px;
    height: 38px;
    border-radius: 34px;
    width: 38px;
    border-style: solid;
    background-color: #000000;
    color: #fff;
}


.castandprofile{
    padding-left: 374px;
    width: 156px;
    float: left;
    padding-top: 13px;
    height: 50px;
    
}


.profilebutton {
    height: 38px;
    border-radius: 34px;
    width: 38px;
    border-color: black;
    margin-left: 13px;
    padding-left: 0px;
}
.profilebuttonimg{
    width: 33px;
    height: 33px;
}
.nav-panel-left {
    position: fixed;
    background-color: black;
    height: 700px;
    width: 240px;
    float: left;
    border-right: 1px solid grey;
    margin-top: 67px;
} 
.main{
    height: 100px;
    width: 100%;
}


.nav-buttons {
    width: 228px;
    height: 50px;
    margin-left: 4px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 17px;
    padding-right: 100px;
}
.nav-buttons:hover{
    background-color: rgb(48, 46, 46);
}
.hr1 {
    width: 193px;
    height: 1px;
    border: none;
    background-color: #4d4b4b;
    
}

#homebtn{
    margin-top: 7px;
}
.nwplylstbutton{
    width: 194px;
    height: 37px;
    transition: background-color 0.1s ease;
    margin-left: 21px;
    border-radius: 19px;
    cursor: pointer;
    background-color: #272626;
    border-style: solid;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.nwplylstbutton:hover{
    background-color: rgb(58, 57, 57);
}

.fa-house{
    margin-right: 26px;
    font-size: 21px;
}
.fa-compass{
    margin-right: 26px;
    font-size: 21px;
    margin-left: 7px;
}
.fa-bookmark{
    margin-right: 26px;
    font-size: 21px;   
}
.fa-circle-play{
    margin-right: 20px;
    font-size: 21px;
    margin-left: 6px; 
}
.threeline {
    width: 53px;
    float: left;
    height: 30px;
    margin-top: 19px;
    margin-left: 17px;
    font-size: 25px;
}

.fa-bars{
    color: #fff;
}
.panelbuttons{
   width: 221px;
    height: 56px;
    border-radius: 10px;
    background-color: black;
    border-style: solid;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: #fff;
    white-space: nowrap;
    margin-left: 9px;
    font-size: 15px;
    font-weight: bold;
}
.panelbuttons:hover{
    background-color: rgb(58, 57, 57);
}
#likedbtn{
    padding-right: 128px;
}
#shortsbtn{
    padding-right:80px;
}

#episodesbtn{
    padding-right: 90px;
}
.autoplaylist{
    font-size: 12px;
    font-weight: 100;
    color: #adaaaa;
    margin-right: 60px;
}
.mainbody {
    height: 700px;
    width: 100%;
    background-color: #000000;
    padding-top: 105px;
    margin-left: 240px;
    padding-left: 95px;
}


.fa-chromecast{
    font-size: 28px;
}
.container{
    width: 1110px;
    height: 750px;
    margin-left: 241px;
    padding-top: 68px;
    background-color: #000000;
}

